/* Style for the Home Page */
.home-page-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

/* Navigation Bar Styles */
nav {
    position: sticky;
    top : 0;

    background-color: #007bff;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-left {
    color: #fff;
    font-size: 20px;
    margin-left: 470px;
}

.navbar-center {
    flex: 1;
    margin-left: 300px;
    text-align: center;
}

.navbar-right {
    flex: 1;
    text-align: right;
}

.navbar-right button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.navbar-right button:hover {
    text-decoration: underline;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 30px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li h3 {
    font-size: 20px;
    margin: 0 0 10px;
}

li p {
    margin: 0 0 10px;
}

li img {
    max-width: 100px;
    border-radius: 50%;
    margin-right: 10px;
}

li div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

/* Styling for the "Edit" and "Remove" buttons */
.edit-remove-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.edit-remove-buttons button {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-remove-buttons button:hover {
    background-color: #0056b3;
}

/* Add more styles as needed */
